* {
    margin: 0;
    padding: 0;
  }
  
  body {
    /* font-family: monospace; */
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
    /* position: relative; */
  }
  button {
    cursor: pointer;
  }
  
  nav {
    width: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
  }
  #logo {
    /* border: solid ; */
    width: 100px;
    font-size: 15px;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav > div {
    display: flex;
    margin: 0 10px;
    padding: 10px;
    height: 40px;
  }
  
  #nav-items {
    display: flex;
    /* border: solid; */
    padding: 0;
    flex-wrap: wrap;
  }
  
  #nav-items > div {
    margin: 0 1rem;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    padding-top: 5px;
    /* border: solid; */
  }
  #search {
    position: relative;
  }
  #search > img {
    width: 30px;
    filter: invert(1);
  }
  #search-label{
    font-size: 12px;
    color: #333;
   }
  #search-section{
    cursor: auto;
    display: none;
    padding-bottom: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 46px;
    right: -80px;
    width: 500px;
    background: #333;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.1)
    );
    backdrop-filter: blur(10px);
    height: 200px;
    border-radius: 0 0 20px 20px;
  }
  #search > div > input {
    border-radius: 5px;
    width: 90%;
    margin: 10px;
    background: #ffffffc6;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    outline: none;
    color: #333;
  }
  
  #search-items {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
  }
  #search-items > a {
    color: #333;
    width: fit-content;
    /* text-decoration: none; */
    /* border-bottom: 1px solid #000; */
    margin: 6px 0;
    /* border: solid; */
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  #search-items>a:hover{
   color: #666;
  }
  #profile {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* display: none; */
  }
  #profile > img {
    margin-left: auto;
    width: 30px;
    filter: invert(1);
  }
  
  #menu {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    display: none;
  }
  .menu-wrapper {
    position: absolute;
    top: 44px;
    right: -25px;
    display: none;
    padding: 1rem 1rem;
    padding-right: 5rem;
    padding-bottom: 0;
    background: #ffffff39;
    border-radius: 0 0 1rem 1rem;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.1)
    );
    backdrop-filter: blur(5px);
  }
  
  .menu-wrapper > div {
    min-width: 80px;
    cursor: pointer;
    margin-bottom: 1.5rem;
    color: #333;
  }
  .menu-wrapper > div:hover {
    color: #fff;
  }
  
  #menu > img {
    margin-left: auto;
    width: 30px;
    filter: invert(1);
  }
  .menu-sign-out {
    display: none;
  }
  
  .fat-border {
    display: none;
    margin-top: 11px;
    padding: 0;
    height: 8px;
    width: 100%;
    background: #ffffff;
    border-radius: 14px 14px 0 0;
  }
  
  #home > .fat-border {
    display: block;
  }
  
  .thin-border {
    padding: 0;
    margin: 0 auto;
    height: 1.5px;
    width: 90%;
    background: #ffffff99;
    border-radius: 4px;
    /* margin-top:-8px ; */
    align-self: center;
  }

  #section-1 {
    z-index: 1;
    color: #fff;
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #section-1 > h2 {
    font-size: 34px;
    margin-top: 8.7rem;
    font-weight: 600;
  }
  
  #timer-box {
    margin-top: 4.8rem;
    /* border: solid; */
  }
  #timer-box>h3{
    text-align: center;
    margin: 20px;
  }
  #social-media {
    position: absolute;
    right: 0;
    width: 40px;
    height: 240px;
    background: #ffffff5d;
    /* border: solid; */
    top: 50%;
    transform: translateY(-50%);
    border-radius: 30px 0px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
  }
  #social-media > div {
    cursor: pointer;
    width: 70%;
    /* border: solid; */
  }
  #social-media > div > img {
    width: 25px;
    -webkit-filter: invert(1);
    filter: invert(1);
  }
  #social-media > div:first-child > img {
    transform: scale(1.8);
    -webkit-filter: invert(1);
    filter: invert(1);
  }
  
  .border-small {
    width: 10px;
    height: 0.5px;
    background: #fff;
  }
  
  #guides {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    /* align-self: flex-end; */
    border-top: solid 0.2px #eeeeee62;
    margin-top: 10rem;
    font-size: 12px;
    letter-spacing: .5px;
    /* background: #33333393; */
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding-left: 8rem;
  }
  /*#guides>div{
     border: solid; 
  }*/
  .guide-card {
    width: 320px;
    display: flex;
    height: 100px;
    padding-left: 2rem;
    /* border: solid; */
    /* filter: blur(10px); */
  }
  
  .guide-card > div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 10px; */
    width: 50%;
    /* text-align: center; */
  }
  .guide-card > div + div {
    /* border: solid black; */
    margin: 10px;
  }
  .guide-card > div > img {
    width: 100%;
  }
  #see-more {
    /* border: solid; */
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #see-more > div:first-child {
    margin-right: 1rem;
  }
  #see-more > div img {
    width: 25px;
    filter: invert(1);
  }
  
  #sign-up {
    background: #43a1ff;
    color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 10px 20px;
  }
  #locationsearch{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .loca{
    margin: auto;
    width: 85%;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 15px;
    gap: 10px;
    text-align: center;
    border: 1px solid;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .loca:hover{
    width: 89%;
  }

  input,  #searchall {
    padding:10px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    border-radius: 5px !important;
    border: 1px white;
    margin: 10px;

  }

  footer {
    padding-top: 1.8rem;
    background: #3ea8ff;
    color: #fff;
  }
  #footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    margin-bottom: 4rem;
    box-sizing: border-box;
  }
  #footer-top > h2 {
    font-size: 22px;
  }
  #footer-top input,
  #footer-top button {
    padding: 16px;
    border: none;
    background: #fff;
    border-radius: 20px;
    font-weight: 600;
    margin: 2rem 1rem;
    font-size: 12px;
  }
  
  #footer-top input::placeholder {
    color: #3ea8ff;
    font-weight: 600;
    font-size: 12px;
  }
  #footer-top input {
    max-width: 370px;
    min-width: 330px;
    padding-left: 2rem;
    color: #333;
    outline: none;
    font-size: 14px;
    font-weight: 400;
  }
  #footer-top button {
    color: #3ea8ff;
  }
  
  #footer-middle {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 4rem;
    padding: 0 6rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  .footer-col {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .footer-col > h3 {
    margin-bottom: 1.5rem;
    font-size: 18px;
    font-weight: 400;
  }
  
  .footer-col > h2 {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 1.2rem;
  }
  .footer-col-1 > h3 {
    font-size: 30px;
    font-weight: 600;
  }
  .footer-col-1 > div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .footer-col-1 > div > img {
    width: 26px;
    margin-right: 1rem;
    filter: invert(1);
  }
  
  .footer-col-1 > div > p {
    font-size: 14px;
    font-weight: 400;
  }
  
  #footer-bottom {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    box-sizing: border-box;
    align-items: center;
  }
  #footer-bottom > h3 {
    font-weight: 400;
    margin-right: 2rem;
  }
  .footer-image {
    margin: 0 10px;
    width: 22px;
  }
  
  .footer-image > img {
    filter: invert(1);
    width: 100%;
    cursor: pointer;
  }